/**
- Mobile: 375px
- Desktop: 1440px
- Orange: hsl(25, 97%, 53%)
- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)
- Font size (paragraph): 15px

#232a34
#171e28
#
*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.how-section{
    /* position: relative; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attribution { 
  font-size: 11px;
 align-self: center;
 color: #777;
  }
.attribution a { color: hsl(228, 45%, 44%); }
.how{
  padding:20px;
  height: 400px;
  width: 400px;
  background-image: linear-gradient(to top,hsl(215, 27%, 12%),hsl(212, 25%, 12%),hsl(215, 27%, 12%));
  border-radius: 20px;
  
}

.how-ico{
  background-color: hsl(213, 19%, 18%);
  height: 50px;
  width: 50px;
  display: flex;
  border-radius: 50%;
}
.icoo{
  transform: translate(100% , 100%);
}
.how h1{
  color: hsl(0, 0%, 100%);
  padding-top: 32px;
}
.how p{
  font-size: 15px;
  padding-top: 12px;
  color: hsl(217, 12%, 63%);
  line-height: 1.7;
}
.how-ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-top: 32px;
 
}
.how-ul button{
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  border: none;
  transition: .5s;
}
.how-ul button:hover{
  cursor: pointer;
  background-color:  hsl(25, 97%, 53%) ;
}
.how-ul button:focus{
  cursor: pointer;
  background-color:  hsl(217, 12%, 63%) ;
}
.how-btn{
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.how-btn button{
  border: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  padding: 1.04rem;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s;
}
.how-btn button:hover{
  background-color: hsl(25, 89%, 63%);
  cursor: pointer;
}
/************************************/
/************************************/
/************************************/
.thank-you{
  padding: 20px;
  height: 400px;
  width: 400px;
  background-image: linear-gradient(to top,hsl(215, 27%, 12%),hsl(212, 25%, 12%),hsl(215, 27%, 12%));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thank-you-ico{
  padding-bottom: 40px;
}
.thank-you .rate{
  background-color:hsl(214, 18%, 15%) ;
  padding: .5rem .8rem .6rem ;
  border-radius: 30px;
  font-size: 18px;
}
.thank-you .rate p{
  color: hsl(25, 97%, 53%);}
.thank-you h2{
  color: #fff;
  padding: 20px;
}

.thank-you p{
  color: hsl(217, 12%, 63%);
text-align: center;
}
#again{
  border: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    padding: .7rem;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

/****************************/
/****************************/
/****************************/
.hidden{
  display: none;
}
/****************************/
/****************************/
/****************************/













@media (max-width:400px){
  .how-section{
    width: 350px;
   
  }
  .how{
    height:300px;
   
  }
  .icoo{
    transform: translate(80% , 80%);
  }
  .how-ico{
  
    height: 42px;
    width: 42px;
  }
  .how h1{
    padding-top: 10px;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
  }
  .how p{
    font-size: 14px;
   
    color: hsl(217, 12%, 63%);
    line-height: 1.3;
  }
  .how-ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 22px;
    color: hsl(0, 0%, 100%);
  }
  .how-ul li{
    height: 42px;
    width: 42px;
    font-size: 10px;
  }
  .how-btn button{
    padding: 8px 82px;
    font-size: 18px;
  }


}